{% extends 'base.html' %}

{% block style %}

input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

img{
border-radius:50%
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #0000ff;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #000fff;
}

/* Add a background color and some padding around the form */
.container {
border-radius: 5px;
padding: 20px;
}
.contain {
    padding: 20px 500px;
}

{% endblock style %}

{% block title %}contact us{% endblock title %}



{% block nav %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="contact">Contact Us<span class="sr-only">(current)</span></a>
                </li>


{% endblock nav %}





{% block body %}

<div class="container">
    <form method="post" action="/contact">
    {% csrf_token %}
        <center>
            <h1>Contact Us</h1>
        </center>

        <form>
            <div class="form-group">
                <label for="name"><strong>Name</strong></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email"><strong>Email address</strong></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="phone"><strong>Phone Number</strong></label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
            </div>
            {% comment %} <div class="form-group">
                <label for="country"><strong>Country</strong></label>
                <input type="country" class="form-control" id="country" name="country" placeholder="Enter your country name">
            </div> {% endcomment %}
            <div class="form-group">
                <label for="desc"><strong>Enter your query</strong></label>
                <textarea class="desc" id="desc" name="desc" rows="3"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
</div>

<div class="container-xl">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Developer Contact Detail</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-box"><img src="/static/A1.jpg" alt=""></div>
                        <p class="testimonial">
                        <p class="overview"><b>Shivam Raj</b></p>
                        <p><b>Ph no. -</b> +916205004219</p>
                        <p><b>Email -</b> shivam43120@gmail.com</p>
                        </p>

                    </div>
                    <div class="carousel-item">
                        <div class="img-box"><img src="/static/A2.jpg" alt=""></div>
                        <p class="testimonial">
                        <p class="overview"><b>Madhusudan Anand</b></p>
                        <p><b>Ph no. -</b> +916205111285</p>
                        <p><b> Email -</b> msa20899@gmail.com</p>
                        </p>

                    </div>
                    <div class="carousel-item">
                        <div class="img-box"><img src="/static/A3.jpg" alt=""></div>
                        <p class="testimonial">
                        <p class="overview"><b>Abhineet Mishra</b></p>
                        <p><b>Ph no. -</b> +918210707347</p>
                        <p><b> Email -</b> abhineetmishra64@gmail.com</p>
                        </p>

                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}