{% extends 'base.html' %}

{% block style %}



.container {
margin-top: 40px;
padding: 100px 100px;
background-color: white;
border-radius: 30px;
border-left: 2px solid gray;
border-right: 2px solid gray;
border-top: 2px solid gray;
border-bottom: 2px solid gray;
border-radius: 30px;
padding: 0px 5px 0px 8px;
}

.card-title {

background-color: lightgray;


padding: 0px 5px 0px 8px;
}

.card-body {

background-color: lightgray;
color: rgb(27, 23, 23);
}

.mc {

background-color: rgb(34, 29, 29);
}

h1 {
color: white;
font-weight: 500;
text-shadow: 2px 2px 5px black;

}

.contain {
padding: 20px 500px;
}

body,
html {
height: 100%;
}

.banner-bg {
/* The image used */
/* background-color: linear-gradient(rgba(0,0,0,0.6)); */
background-image: url(/static/A4.jpg);

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
filter: blur(0px);
}

.text-1 {
position:absolute;
top: 50%;
left:30%;
transform: translate(-50%,-50%);
z-index: 5;
width:30%;
padding: 40px 0;
text-align: center;
border-top-left-radius: 70px;
border-bottom-right-radius: 70px;
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
font-weight: bold;
border: 10px inset #fff;
}
.text-2 {
position:absolute;
top: 50%;
left:70%;
transform: translate(-50%,-50%);
z-index: 5;
width:30%;
padding: 40px 0;
text-align: center;
border-top-left-radius: 70px;
border-bottom-right-radius: 70px;
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
font-weight: bold;
border: 10px inset #fff;
}

{% endblock style %}

{% block title %}Home{% endblock title %}





{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="contact">Contact Us</a>
</li>


{% endblock nav %}

{% block body %}

<!-- header image & buttons  part -->

<div class="banner-bg"></div>
<div class="text-1">
    <h1>EVENT ORGANIZER</h1>
    <!-- <P>If you are a new user then click on "SIGN UP" up else click on "LOGIN".</P> -->
    <a class="btn btn-danger " role="button" data-toggle="modal" data-target="#signupasadminModal">Sign
        Up</a>
    <a class="btn btn-dark " role="button" data-toggle="modal" data-target="#loginasadminModal">Login</a>
</div>
<div class="text-2">
    <h1>CUSTOMER</h1>
    <!-- <P>If you are a new user then click on "SIGN UP" up else click on "LOGIN".</P> -->
    <a class="btn btn-danger " role="button" data-toggle="modal" data-target="#signupascustomerModal">Sign Up</a>
    <a class="btn btn-dark" role="button" data-toggle="modal" data-target="#loginascustomerModal">Login</a>
</div>

<!-- sgin up as admin Modal -->
<div class="modal fade" id="signupasadminModal" tabindex="-1" role="dialog" aria-labelledby="signupasadminModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupasadminModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username"><strong>Username</strong></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username">
                    </div>
                    <div class="form-group">
                        <label for="name"><strong>Name</strong></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="email"><strong>Email address</strong></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="password"><strong>Password</strong></label>
                        <input type="password" class="form-control" id="password1" name="password1"
                            placeholder="Choose a strong password">
                    </div>
                    <div class="form-group">
                        <label for="password"><strong>Confirm Password</strong></label>
                        <input type="password" class="form-control" id="password2" name="password2"
                            placeholder="Enter your password agian">
                    </div>
                    <p></p>
                    By creating an account you agree to our <a href="##"> Terms & Privacy </a>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Account</button>
                    <p></p>
                    Already have an account? <a href="index1.html"> sign in </a>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- sgin up as customer Modal -->
<div class="modal fade" id="signupascustomerModal" tabindex="-1" role="dialog"
    aria-labelledby="signupascustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupascustomerModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nameinput">Name</label>
                        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Enter your full name..</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="nameinput">Phone Number</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Enter your Phone Number</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <small id="emailHelp" class="form-text text-muted">Enter your Password</small>
                    </div>
                    <div class="form-group">
                        <label for="cexampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="cexampleInputPassword1">
                        <small id="emailHelp" class="form-text text-muted">Re-Enter your password</small>
                    </div>
                    <p></p>
                    By creating an account you agree to our <a href="##"> Terms & Privacy </a>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Account</button>
                    <p></p>
                    Already have an account? <a href="index1.html"> sign in </a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- login as Admin Modal -->
<div class="modal fade" id="loginasadminModal" tabindex="-1" role="dialog" aria-labelledby="loginasadminModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginasadminModalLabel">Login as Admin </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    Forgot <a href="admin_forgot_password.html" target="_blank"> password? </a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- login as Customer Modal -->
<div class="modal fade" id="loginascustomerModal" tabindex="-1" role="dialog"
    aria-labelledby="loginascustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginascustomerModalLabel">Login as Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="a">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    Forgot <a href="admin_forgot_password.html" target="_blank"> password? </a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--footer slider-->
<div class="container-xl">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Our Developer's</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-box"><img src="/static/A1.jpg" alt=""></div>
                        <p class="testimonial">“The happiest moment i felt, is that moment when i realized my
                            ability to create.”.</p>
                        <p class="overview"><b>Shivam Raj</b>, Full-Stack Developer</p>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box"><img src="/static/A2.jpg" alt=""></div>
                        <p class="testimonial">“Coding like poetry should be short and concise.”</p>
                        <p class="overview"><b>Madhusudan Anand</b>,Senior Web Developer</p>
                    </div>
                    <div class="carousel-item">
                        <div class="img-box"><img src="/static/A3.jpg" alt=""></div>
                        <p class="testimonial">“A successful website does three things:
                            It attracts the right kinds of visitors.
                            Guides them to the main services or product you offer.
                            Collect Contact details for future ongoing relation.”.</p>
                        <p class="overview"><b>Abhineet Mishra</b>, Seo Analyst</p>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
